.grid {
  margin: 20px 0 0;
}
.btn{
  background-color: white;
  color: black;
  padding:12px 24px;
  border:none;
  cursor: pointer;
  border-radius: 66px;
}
.navbar{
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 13, 15);
  color: white;
  padding:12px 24px;
  border:none;
}